.container-fluid {
    background-color: #fff !important;
}
.search-btn {
  background-color: #fe424d !important;
  color: #fff !important;
  border-radius: 25px !important;
  padding: 0 1rem 0 1rem !important;
}
.search-btn:hover {
  background-color: #fe424d !important;
  color: #fff !important;
}
.search-btn i {
  display: inline !important;
  margin-right: 0.5rem !important;
}
.search-input {
  border-radius: 25px !important;
  padding: 0.5rem 3rem 0.5rem 3rem !important;
  font-size: 1rem !important;
}